.progress-bar-container {
  margin: 32px 64px 100px;

  .step-container {
    line-height: 1 !important;
    height: 64px;
    width: 64px;
    font-size: 32px;
    border-radius: 50%;
    color: white;
    background-color: #b1b1b1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    
    

    &.completed {
      margin-top: -4px;
      height: 72px;
      width: 72px;
      background-color: #002c48;
    }
  }

  .main-step-container{
    height: 64px;
    width: 64px;
    line-height: 1.4;
  }

  .step-label {
    margin-top: 8px;
    font-weight: bold;
    color: #002c48;
    line-height: 1!important;

    
    text-align: center;
    width: 100px;
    margin-left: -25%;
    
  }

}